<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">

<!-- wp:pattern {"slug":"ona/general-hero-health"} /-->

<!-- wp:pattern {"slug":"ona/posts-grid-4-columns-health"} /-->

<!-- wp:group {"layout":{"contentSize":"1170px"}} -->
<div class="wp-block-group"><!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide">
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"ona/posts-list-with-sidebar-health"} /-->

<!-- wp:spacer {"height":"120px"} -->
<div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"ona/general-promo-section-health"} /-->

<!-- wp:pattern {"slug":"ona/posts-grid-3-columns-health"} /-->

<!-- wp:pattern {"slug":"ona/general-instagram-feed-health"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->